$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400,
);
@each $name, $value in $breakpoints{
    @media screen and (min-width: $value){
       @for $i from 1 through 12{
        .col-#{$name}-#{$i}{
            width: (100% / 12) * $i;
        }
       }
    }
}